<div class="mx-auto" style="max-width: 600px;">
  <div class="row m-1">

    <!-- Work in progress >> adding an input variable to search database based on movie title  -->

    <form class="form-inline">
      <div class="form-group mr-3 mb-0">
        <label for="inputMovie" class="sr-only">movie name</label>
        <input type="text" class="form-control" id="inputMovie" placeholder="Enter movie name" name="movieName" [(ngModel)]="movieName">
      </div>
      <button type="submit" class="btn btn-primary mb-0 float-right" (click)="newMovie()">find version</button>
    </form>

    <div class="btn-group ml-auto my-3" role="group" aria-label="toggles">
      <button type="button" class="btn btn-secondary btn-sm" [ngClass]="{'button-active': !hide90s}" (click)="toggle90s()">1990s</button>
      <button type="button" class="btn btn-secondary btn-sm" [ngClass]="{'button-active': !hide00s}" (click)="toggle00s()">2000s</button>
    </div>
  </div>

  <div class="card mb-3 moviecard" [ngClass]="{'is-hidden': (hide00s && item.year.startsWith('20')) || (hide90s &&  item.year.startsWith('19')) }" *ngFor="let item of moviesDetails">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img *ngIf="item.title.includes(batman); else img_hotlink" src="./assets/images/{{item.imdbID}}.jpg" class="card-img p-2" alt="..."> <!-- locally referenced poster images // todo: ngIf condition needs more strict definition -->
        <ng-template #img_hotlink><img src="{{item.posterUrl}}" class="card-img p-2" alt="..."></ng-template>  <!--  hotlinked posterimage url part of the feature to change the moviename -->
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{item.title}}</h5>
          <hr>
          <p class="card-text">
            <span class="pg-label">{{item.rating}}</span>
            <small class="text-muted ml-2">time: {{item.runtime}}</small>
            <small class="text-muted float-right">{{item.year}}</small>
          </p>
          <p class="card-text">{{item.description}}</p>
          <a class="btn btn-info btn-sm float-right mb-3" href="https://www.imdb.com/title/{{item.imdbID}}/" target="blank">view on IMDB</a>
        </div>
      </div>
    </div>
  </div>
  <div class="alert alert-info" role="alert" *ngIf="hide90s && hide00s">
    Please select a movie period.
  </div>
</div>
<router-outlet></router-outlet>
